@model WebApp.ViewModels.ForumPostViewModel

@{
    ViewBag.Title = "Details";
}

<body class="striped-background">
    <div class="left-part">
        <button class="question-button">+New Question</button>
        <h1 style="text-align: center">Tags</h1>
        <ul class="tags">
            <li><a href="#">Tag1</a></li>
            <li><a href="#">Tag2</a></li>
            <li><a href="#">Tag3</a></li>
            <li><a href="#">Tag4</a></li>
            <li><a href="#">Tag5</a></li>
        </ul>
    </div>
    <div class="right-part">
        <div class="table-padding">
            <table class="table_legenda">
                <tr>
                    <th colspan="2" style="text-align: center">
                        @Model.ForumPost.Title
                        @if (User.IsInRole("Admin") || User.Identity.Name == Model.GetUser().UserName)
                        {
                            <span>
                                [@Html.ActionLink("Edit", "Edit", new { id = Model.ForumPost.Id }) |
                                @Html.ActionLink("Delete", "Delete", new { id = Model.ForumPost.Id })]
                            </span>
                        }
                    </th>
                </tr>
                <tr>
                    <td class="posted-on-by">
                        <span><i>Posted by</i> @Model.GetUser().UserName</span>
                    </td>
                    <td class="posted-on-by">
                        <span><i>Posted on</i> @string.Format("{0}.{1}.{2}",
                                             Model.ForumPost.Date.Day.ToString().PadLeft(2, '0'),
                                             Model.ForumPost.Date.Month.ToString().PadLeft(2, '0'),
                                             Model.ForumPost.Date.Year)</span>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <p>
                            @Model.ForumPost.Body
                        </p>
                    </td>
                </tr>
            </table>
        </div>
        <h1>Comments</h1>
        <hr style="width: 70%; border-width: 5px">
        @{
            var comments = Model.GetCommentsAsViewModel();
        }

        @foreach (var comment in comments)
        {
            <div class="table-padding comment-table">
                <table class="table_legenda">
                    <tr>
                        <td class="posted-on-by">
                            <span><i>Commented by</i> @comment.GetUser().UserName</span>
                        </td>
                        <td class="posted-on-by">
                            <span><i>Commented on</i> @string.Format("{0}.{1}.{2}",
                                                            comment.Comment.Date.Day.ToString().PadLeft(2, '0'),
                                                            comment.Comment.Date.Month.ToString().PadLeft(2, '0'),
                                                            comment.Comment.Date.Year)</span>
                        </td>
                    </tr>
                    <tr class="comment-content">
                        <td colspan="2">
                            <p>
                                @comment.Comment.Text
                            </p>
                        </td>
                    </tr>
                </table>
            </div>
        }
        @if (comments.Count == 0)
        {
            <span class="no-comments">There are no comments. Be the first one to comment on this post.</span>
        }
    </div>
</body>