@model WebApp.Models.ForumPost

@{
    ViewBag.Title = "Details";
}

<body class="striped-background">
    <main class="right-part">
        <div class="table-padding">
            <table class="forum-table">
                <tr>
                    <th colspan="2">
                        @Model.Title
                    </th>
                </tr>

                <tr>
                    <td><i>Posted by avtora</i></td>
                    <td>
                        <i>Posted on </i>
                        @string.Format("{0}.{1}.{2}",
                            Model.Date.Day.ToString().PadLeft(2, '0'),
                            Model.Date.Month.ToString().PadLeft(2, '0'),
                            Model.Date.Year)
                    </td>
                </tr>
                <tr>
                    <td colspan="2" class="comment-body">
                        @Model.Body
                    </td>
                </tr>

            </table>
        </div>
            @foreach (var comment in Model.Comments)
            {

            }
            <p>
                @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
                @Html.ActionLink("Back to List", "Index")
            </p>
</main>
</body>