@using WebApp.Models
@using WebApp.ViewModels
@{
    ViewBag.Title = "Forum Page";
}

@model List<ForumPostViewModel>

<body class="striped-background">
    <aside class="left-part">
        <button class="question-button" onclick="location.href='@Url.Action("Create", "Forum")'">+New Question</button>
        <h1 style="text-align: center">Random Tags</h1>
        <ul class="tags">
            @{
                List<string> tags = new List<string>();
                Random random = new Random();
            }

            @foreach (var forumPost in Model)
            {
                var currTags = forumPost.ForumPost.Tags
                    .Select(t => t.Name)
                    .Distinct()
                    .ToList();
                tags.AddRange(currTags);
            }

            @{
                tags = tags.Distinct().ToList();
                List<string> addedTags = new List<string>();
            }

            @for (int i = 0; i < 10; i++)
            {
                string randomTag = tags[random.Next(0, tags.Count)];
                if (!addedTags.Contains(randomTag))
                {
                    addedTags.Add(randomTag);
                    <li>@Html.ActionLink(randomTag, "Index", new { tag = randomTag })</li>
                }
            }
        </ul>
    </aside>

    <main class="right-part">
        <h1 class="forum-title">Forum</h1>
        @foreach (var forumPost in Model)
        {
            <div class="table-padding">
                <table class="forum-table">
                    <tr>
                        <th colspan="2">
                            @Html.ActionLink(forumPost.ForumPost.Title, "Details", new {id = forumPost.ForumPost.Id})
                        </th>
                    </tr>
                    <tr>
                        <td><i>Posted by</i> @forumPost.GetUser().UserName</td>
                        <td>
                            <i>Posted on </i>
                            @string.Format("{0}.{1}.{2}",
                                forumPost.ForumPost.Date.Day.ToString().PadLeft(2, '0'),
                                forumPost.ForumPost.Date.Month.ToString().PadLeft(2, '0'),
                                forumPost.ForumPost.Date.Year)
                        </td>
                    </tr>
                    
                </table>
            </div>
        }
    </main>

</body>