@model WebApp.Models.News

@{
    ViewBag.Title = "Details";
}
<body class="striped-background">
        <h2>
            @Html.DisplayFor(news => news.Title)
        </h2>
    <div class="date">
        @Html.DisplayFor(news => news.Date.Day).@Html.DisplayFor(news => news.Date.Month).@Html.DisplayFor(news => news.Date.Year)

    </div>
        <div>
            <hr class="hr" />
            <dl class="dl-horizontal">
                <div class="body-text">
                    @Html.DisplayFor(news => news.Body)
                </div>
            </dl>
        </div>
        <p>
            @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
            @Html.ActionLink("Back to List", "Index")
        </p>
   
</body>